html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figcaption, footer, header, hgroup,
menu, output, ruby, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, header, hgroup, menu {
  display: block;
}

body {
  line-height: 1;
  font-family: "Fira Code", sans-serif;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  border: none;
  font-family: inherit;
}

.app {
  display: flex;
  flex-direction: column;
}

*.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.header {
  display: flex;
  width: 100%;
  height: 65px;
  z-index: 1;
  position: fixed;
  background: rgba(59, 32, 11, 0.05);
  backdrop-filter: blur(5px);
}
.header .warrap-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
}
.header .warrap-header .navigation {
  display: flex;
  align-items: center;
}
.header .warrap-header .navigation img {
  margin-right: 60px;
}
.header .warrap-header .navigation a {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 25px;
  color: rgb(99, 83, 82);
  text-decoration: none;
  margin-right: 16px;
}
.header .warrap-header .warrap-button {
  display: flex;
  align-items: center;
  gap: 15px;
}
.header .warrap-header .warrap-button .line-division {
  width: 0px;
  height: 47.66px;
  border-left: 1px solid #B50B04;
}
.header .warrap-header .warrap-button button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 123px;
  height: 34px;
  padding: 4px 16px;
  border-radius: 4px;
  background: rgb(245, 154, 27);
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  line-height: 25px;
  color: rgb(59, 32, 11);
}
.header .warrap-header .mobile-menu {
  display: none;
}
.header .warrap-header .mobile-menu .menu {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  padding: 0;
}
.header .warrap-header .mobile-menu .menu svg {
  width: 50px;
}
.header .warrap-header .mobile-menu .line {
  fill: none;
  stroke: black;
  stroke-width: 6;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header .warrap-header .mobile-menu .line1 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.header .warrap-header .mobile-menu .line2 {
  stroke-dasharray: 60 60;
  stroke-width: 6;
}
.header .warrap-header .mobile-menu .line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.header .warrap-header .mobile-menu .opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}
.header .warrap-header .mobile-menu .opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}
.header .warrap-header .mobile-menu .opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}
@media (max-width: 1024px) {
  .header .warrap-header .navigation a {
    display: none;
  }
  .header .warrap-header .warrap-button {
    display: none;
  }
  .header .warrap-header .mobile-menu {
    display: block;
  }
}

.banner {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 34rem;
  max-height: 545px;
  background-image: url("/img/banner-pag.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.banner .warrap-title {
  box-sizing: border-box;
  width: 100%;
}
.banner .warrap-title .title-pag {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.banner .warrap-title .title-pag p:nth-child(1) {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 1.42rem;
  line-height: 23px;
  color: rgb(59, 32, 11);
}
.banner .warrap-title .title-pag h1 {
  font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-size: 4.85rem;
  line-height: 85px;
  color: rgb(59, 32, 11);
}
.banner .warrap-title .title-pag h1 span {
  color: rgb(245, 154, 27);
}
.banner .warrap-title .title-pag p:nth-child(3) {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.42rem;
  line-height: 32px;
  color: rgba(29, 6, 5, 0.69);
  margin-top: 5px;
}
.banner .warrap-title .title-pag p:nth-child(3) span {
  padding: 2px;
  background-color: rgb(245, 154, 27);
  border-radius: 5px;
  font-weight: 900;
}
.banner .warrap-title .title-pag button {
  width: 198.64px;
  height: 52.32px;
  padding: 10.1605px 20.3209px;
  background: rgb(244, 49, 39);
  border-radius: 5.08023px;
  margin-top: 15px;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 1.42rem;
  line-height: 32px;
  color: rgba(255, 255, 255, 0.85);
}
.banner .warrap-title .cards {
  display: flex;
  align-items: center;
  position: relative;
  bottom: -60px;
  width: 970px;
  height: 118.54px;
  margin: 0 auto;
  box-shadow: 0px 4px 40px rgba(179, 155, 132, 0.5);
  border-radius: 10px;
  background: #FFFFFF;
}
.banner .warrap-title .cards .card-warrap {
  display: flex;
  width: 323.33px;
}
.banner .warrap-title .cards .card-warrap .img-warrap {
  margin: 30px 18px 30px 21px;
}
.banner .warrap-title .cards .card-warrap .info-warrap {
  display: flex;
  flex-direction: column;
  margin-top: 26.27px;
}
.banner .warrap-title .cards .card-warrap .info-warrap h3 {
  font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 22px;
  color: rgba(29, 6, 5, 0.9);
  text-transform: uppercase;
  margin-bottom: 5px;
}
.banner .warrap-title .cards .card-warrap .info-warrap p {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 19px;
  color: rgba(29, 6, 5, 0.69);
  opacity: 0.6;
}
.banner .warrap-title .cards .dividing-line {
  width: 0px;
  height: 83.53px;
  border-left: 1px solid rgba(73, 46, 21, 0.15);
}

@media (max-width: 1024px) {
  .banner {
    background-image: url("/img/mobile.png");
    min-height: 90rem;
  }
  .banner .warrap-title {
    height: 100%;
  }
  .banner .warrap-title .title-pag {
    justify-content: normal;
    margin-top: 101px;
    height: 85%;
  }
  .banner .warrap-title .title-pag p:nth-child(1) {
    font-size: 1.52rem;
  }
  .banner .warrap-title .title-pag h1 {
    font-size: 5.85rem;
  }
  .banner .warrap-title .title-pag p:nth-child(3) {
    font-size: 1.52rem;
  }
  .banner .warrap-title .cards {
    flex-direction: column;
    height: auto;
    width: 100%;
  }
  .banner .warrap-title .cards .card-warrap {
    width: 100%;
  }
  .banner .warrap-title .cards .card-warrap .info-warrap {
    margin: auto 0;
  }
  .banner .warrap-title .cards .card-warrap .info-warrap h3 {
    font-size: 1.5rem;
  }
  .banner .warrap-title .cards .card-warrap .info-warrap p {
    font-size: 1.25rem;
  }
  .banner .warrap-title .cards .dividing-line {
    display: none;
  }
}
.offer .warrap-offer {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin-top: 130px;
}
.offer .warrap-offer .title-offer {
  margin-bottom: 16px;
}
.offer .warrap-offer .title-offer h2 {
  font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-size: 2rem;
  line-height: 35px;
  color: rgba(29, 6, 5, 0.9);
  text-transform: uppercase;
}
.offer .warrap-offer .title-offer p {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 22px;
  color: rgba(29, 6, 5, 0.69);
}
.offer .warrap-offer .container-offer-grid {
  display: grid;
  grid-template-columns: 66% auto;
  grid-template-rows: auto auto;
  grid-template-areas: "img-1 img-2" "img-1 img-3";
  gap: 30px;
}
.offer .warrap-offer .container-offer-grid img {
  width: 100%;
}
.offer .warrap-offer .container-offer-grid .img-1 {
  position: relative;
  grid-area: img-1;
}
.offer .warrap-offer .container-offer-grid .img-1 .top {
  position: absolute;
  top: 0;
  margin: 13px 0 0 17px;
}
.offer .warrap-offer .container-offer-grid .img-1 .top h3 {
  font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-size: 1.56rem;
  line-height: 28px;
  color: rgba(255, 255, 255, 0.9);
  text-transform: uppercase;
}
.offer .warrap-offer .container-offer-grid .img-1 .top p {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 25px;
  color: rgba(255, 255, 255, 0.69);
}
.offer .warrap-offer .container-offer-grid .img-1 .bottom {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0 25px 26px 0;
}
.offer .warrap-offer .container-offer-grid .img-1 .bottom p {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.43rem;
  line-height: 25px;
  color: rgba(255, 255, 255, 0.69);
}
.offer .warrap-offer .container-offer-grid .img-1 .bottom h4 {
  font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-size: 2.62rem;
  line-height: 28px;
  color: rgba(255, 255, 255, 0.9);
  text-transform: uppercase;
}
.offer .warrap-offer .container-offer-grid .img-2 {
  position: relative;
  grid-area: img-2;
}
.offer .warrap-offer .container-offer-grid .img-2 .top {
  position: absolute;
  top: 0;
  margin: 13px 0 0 20px;
}
.offer .warrap-offer .container-offer-grid .img-2 .top h3 {
  font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 22px;
  color: rgba(29, 6, 5, 0.9);
  text-transform: uppercase;
}
.offer .warrap-offer .container-offer-grid .img-2 .top p {
  font-family: "Lato", sans-serif;
  font-weight: 400px;
  font-size: 1.125rem;
  line-height: 25px;
  color: rgba(29, 6, 5, 0.9);
}
.offer .warrap-offer .container-offer-grid .img-3 {
  position: relative;
  grid-area: img-3;
}
.offer .warrap-offer .container-offer-grid .img-3 .top {
  position: absolute;
  top: 0;
  margin: 13px 0 0 20px;
}
.offer .warrap-offer .container-offer-grid .img-3 .top h3 {
  font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 22px;
  color: rgba(29, 6, 5, 0.9);
  text-transform: uppercase;
}
.offer .warrap-offer .container-offer-grid .img-3 .top p {
  font-family: "Lato", sans-serif;
  font-weight: 400px;
  font-size: 1.125rem;
  line-height: 25px;
  color: rgba(29, 6, 5, 0.9);
}
@media (max-width: 1024px) {
  .offer .warrap-offer {
    margin-top: 350px;
  }
  .offer .warrap-offer .title-offer {
    margin-bottom: 16px;
  }
  .offer .warrap-offer .container-offer-grid {
    grid-template-areas: "img-1" "img-2" "img-3";
    grid-template-columns: auto;
    grid-template-rows: auto;
  }
  .offer .warrap-offer .container-offer-grid .img-1 .top h3 {
    font-size: 1.75rem;
  }
  .offer .warrap-offer .container-offer-grid .img-1 .top p {
    font-size: 1.3rem;
  }
  .offer .warrap-offer .container-offer-grid .img-1 .bottom p {
    font-size: 1.53rem;
  }
  .offer .warrap-offer .container-offer-grid .img-1 .bottom h4 {
    font-size: 2.72rem;
  }
  .offer .warrap-offer .container-offer-grid .img-2 .top h3 {
    font-size: 1.75rem;
  }
  .offer .warrap-offer .container-offer-grid .img-2 .top p {
    font-size: 1.3rem;
  }
  .offer .warrap-offer .container-offer-grid .img-3 .top h3 {
    font-size: 1.75rem;
  }
  .offer .warrap-offer .container-offer-grid .img-3 .top p {
    font-size: 1.3rem;
  }
}

.opening-hours {
  margin-top: 64px;
}
.opening-hours .warrap-hour {
  display: flex;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}
.opening-hours .warrap-hour .card-info {
  display: flex;
  align-items: center;
  width: 570px;
  height: 130.93px;
  background: #F43127;
  border-radius: 10px;
}
.opening-hours .warrap-hour .card-info img {
  margin: 18px 15px 18px 22px;
}
.opening-hours .warrap-hour .card-info .dividing-line {
  width: 0px;
  height: 82.74px;
  border-left: 1px solid rgba(29, 6, 5, 0.4);
  margin-right: 15px;
}
.opening-hours .warrap-hour .card-info .warrap-info h4 {
  font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-size: 1.56rem;
  line-height: 28px;
  color: rgba(29, 6, 5, 0.69);
  text-transform: uppercase;
  margin-bottom: 6px;
}
.opening-hours .warrap-hour .card-info .warrap-info p {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  line-height: 22px;
  color: rgba(255, 255, 255, 0.85);
  margin-bottom: 2px;
}
.opening-hours .warrap-hour .card-socialNetwork {
  margin-left: 30px;
}
.opening-hours .warrap-hour .card-socialNetwork p {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 25px;
  color: rgba(29, 6, 5, 0.69);
}
.opening-hours .warrap-hour .card-socialNetwork h4 {
  font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-size: 1.75rem;
  line-height: 28px;
  color: rgb(244, 49, 39);
  text-transform: uppercase;
}
@media (max-width: 1024px) {
  .opening-hours .warrap-hour {
    flex-direction: column;
  }
  .opening-hours .warrap-hour .card-info {
    width: 100%;
    min-width: 500px;
    height: auto;
    margin-top: 38px;
    margin-bottom: 64px;
  }
  .opening-hours .warrap-hour .card-socialNetwork {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
  }
  .opening-hours .warrap-hour .card-socialNetwork h4 {
    font-size: 2.56rem;
    margin-top: 5px;
  }
}

.map {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 65px 0 20px 0;
}
.map .container {
  margin-bottom: 10px;
}
.map .container h3 {
  font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-size: 1.56rem;
  line-height: 28px;
  color: rgba(29, 6, 5, 0.9);
  text-align: center;
  text-transform: uppercase;
}
.map .container p {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 22px;
  color: rgba(29, 6, 5, 0.9);
}

@media (max-width: 599px) {
  iframe {
    width: 500px;
  }
}
@media (min-width: 600px) {
  iframe {
    width: 600px;
  }
}
@media (min-width: 900px) {
  iframe {
    width: 900px;
  }
}
@media (min-width: 1200px) {
  iframe {
    width: 1200px;
  }
}
@media (min-width: 1800px) {
  iframe {
    width: 1800px;
  }
}
.footer {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.footer .warrap-footer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  box-sizing: border-box;
}
.footer .warrap-footer .logo {
  width: 264.71px;
  height: 36.19px;
  margin: 15px;
}
.footer .warrap-footer .icons {
  margin: 10px 0 10px 0;
  order: 2;
}
.footer .warrap-footer .icons img {
  margin: 10px;
  transition: 0.5s;
}
.footer .warrap-footer .icons img:hover {
  transform: scale(1.2);
  cursor: pointer;
}
.footer .warrap-footer ul {
  display: flex;
  align-items: center;
  gap: 31px;
}
.footer .warrap-footer ul li {
  margin: 7px 0 7px 0;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 25px;
  color: rgb(58, 33, 11);
}
.footer .warrap-footer ul li:hover {
  cursor: pointer;
}
.footer p {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 0.87;
  line-height: 19px;
  color: rgba(2, 14, 31, 0.69);
  margin: 15px 0 15px 0;
}
.footer p span {
  color: rgba(2, 14, 31, 0.3);
}

@media (max-width: 900px) {
  .footer .warrap-footer {
    flex-direction: column;
    align-items: center;
  }
  .footer .warrap-footer .icons {
    order: 1;
  }
  .footer .warrap-footer ul {
    flex-direction: column;
    order: 2;
  }
}

/*# sourceMappingURL=styles.css.map */
