html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figcaption, footer, header, hgroup,
menu, nav, output, ruby, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

html {
  scroll-behavior: smooth;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, header, hgroup, menu, nav {
  display: block;
}

body {
  line-height: 1;
  font-family: "Fira Code", sans-serif;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  border: none;
  font-family: inherit;
}

.main-header {
  background: rgba(59, 32, 11, 0.05);
  backdrop-filter: blur(10px);
  position: fixed;
}
.main-header nav {
  display: flex;
  width: 100vw;
  height: 65px;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.main-header nav button {
  background-color: #F59A1B;
  width: 123px;
  height: 34px;
  border-radius: 4px;
  margin-left: 13px;
  font-family: "Lato";
  font-weight: 700;
  font-size: 1rem;
  line-height: 25px;
  color: #34201F;
  transition: 0.5s ease-out;
}
.main-header nav button:hover {
  background-color: #25D366;
  cursor: pointer;
  transform: scale(110%);
}
.main-header nav button i {
  margin-right: 9px;
}
.main-header .logo {
  margin-left: 30px;
}
.main-header .nav-menu {
  margin-left: 60px;
}
.main-header .nav-menu a {
  margin: 0 8px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.13rem;
  line-height: 25px;
  text-decoration: none;
  color: #635352;
  transition: 0.5s ease-out;
}
.main-header .nav-menu a:hover {
  transform: scale(150%);
}
.main-header .warrap-icon {
  display: flex;
  align-items: center;
  width: 75px;
  height: 65px;
  margin-left: 240px;
}
.main-header .warrap-icon img {
  width: 27px;
  height: 14.27px;
  margin: 25px 9px;
  cursor: pointer;
  transition: 0.5s ease-out;
}
.main-header .warrap-icon img:hover {
  transform: scale(150%);
}
.main-header .warrap-icon i {
  margin: 25px 9px;
  color: #fff;
  cursor: pointer;
  transition: 0.5s ease-out;
}
.main-header .warrap-icon i:hover {
  transform: scale(150%);
}
.main-header .warrap-icon:after {
  content: "";
  width: 0px;
  height: 45px;
  opacity: 0.5;
  border-left: 0.1px solid #0c0c0c;
}

.main-pag {
  display: flex;
  background-image: url("../img/banner-pag.png");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 100vh;
  width: 100vw;
}
.main-pag button {
  width: 198.64px;
  height: 52.32px;
  margin-top: 15px;
  color: #fff;
  background: #F43127;
  border-radius: 5.08023px;
  font-weight: 700;
  font-size: 1.43rem;
  line-height: 32px;
  transition: 0.5s ease-out;
}
.main-pag button:hover {
  transform: scale(105%);
  cursor: pointer;
}
.main-pag .card-in-banner {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 500px;
  height: 500px;
  left: 340px;
  top: 200px;
}
.main-pag .card-in-banner .warrap-card-p1 {
  font-weight: 700;
  font-size: 1.43rem;
  line-height: 23px;
  color: rgba(29, 6, 5, 0.9);
}
.main-pag .card-in-banner .warrap-card-title {
  display: flex;
  flex-direction: row;
  font-family: "Lilita One";
  font-weight: 400;
  font-size: 4.85rem;
  line-height: 85px;
  color: #3B200B;
}
.main-pag .card-in-banner .warrap-card-title .second-title {
  font-weight: 400;
  margin-left: 10px;
  color: #F59A1B;
}
.main-pag .card-in-banner .warrap-card-p2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: rgba(29, 6, 5, 0.69);
  font-weight: 500;
  font-size: 22.861px;
  line-height: 32px;
}
.main-pag .card-in-banner .warrap-card-p2 .second-color-p {
  background-color: #F59A1B;
  border-radius: 10px;
  padding: 2px;
  margin-left: 5px;
  font-weight: 900;
}

/*# sourceMappingURL=styles.css.map */
