.map
    display: flex
    flex-direction: column
    align-items: center
    margin: 65px 0 20px 0 
    .container
        margin-bottom: 10px
        h3
            @include text_config('Lilita One',400,1.56rem,28px,$color-third)
            text-align: center
            text-transform: uppercase
        p
            @include text_config('Lato',400,1rem,22px,$color-third)
            
            
@media ( max-width: 599px )
    iframe
        width: 500px

@media ( min-width: 600px )
    iframe
        width: 600px

@media ( min-width: 900px )
    iframe
        width: 900px

@media ( min-width: 1200px )
    iframe
        width: 1200px

@media ( min-width: 1800px )
    iframe
        width: 1800px
    